// Variables
$control-color: #252930;
$primary-color: #103c89;
$secondary-color: #186ef9;
$dark-color: #252930;
$light-color: #eee;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;
$home-image: url('../img/laptop1.jpg');
$background-opacity: 0.9;

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Transition mixin
@mixin transitionL {
  transition: all 1.5s;
}
@mixin transitionM {
  transition: all 0.7s;
}
@mixin transitionS {
  transition: all 0.3s;
}
@mixin transitionF {
  transition: filter 0.8s;
}

// Media query mixins
@mixin mediaXxs {
  @media screen and (max-width: 415px) {
    @content;
  }
}
@mixin mediaXs {
  @media screen and (max-width: 520px) {
    @content;
  }
}
@mixin mediaSm {
  @media screen and (max-width: 620px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 850px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) and (min-width: 851px) {
    @content;
  }
}

// Height control for large widths
@mixin mediaHXs {
  @media screen and (max-height: 410px) and (min-width: 851px) {
    @content;
  }
}
@mixin mediaHSm {
  @media screen and (max-height: 580px) {
    @content;
  }
}
@mixin mediaLHSm {
  @media screen and (max-height: 580px) and (min-width: 620px) {
    @content;
  }
}
@mixin mediaHMd {
  @media screen and (max-height: 840px) {
    @content;
  }
}

// Height control for small widths
@mixin mediaMdHXs {
  @media screen and (max-height: 440px) and (max-width: 850px) {
    @content;
  }
}
@mixin mediaMdHSm {
  @media screen and (max-height: 580px) and (max-width: 850px) {
    @content;
  }
}
@mixin mediaMdHMd {
  @media screen and (max-height: 840px) and (max-width: 850px) {
    @content;
  }
}
@mixin mediaXsHMd {
  @media screen and (max-height: 840px) and (max-width: 520px) {
    @content;
  }
}
@mixin mediaXsHSm {
  @media screen and (max-height: 580px) and (max-width: 520px) {
    @content;
  }
}
@mixin mediaXsHXs {
  @media screen and (max-height: 440px) and (max-width: 520px) {
    @content;
  }
}
@mixin mediaXxsHMd {
  @media screen and (max-height: 840px) and (max-width: 415px) {
    @content;
  }
}
@mixin mediaXxsHSm {
  @media screen and (max-height: 580px) and (max-width: 415px) {
    @content;
  }
}
@mixin mediaXxsHXs {
  @media screen and (max-height: 440px) and (max-width: 415px) {
    @content;
  }
}

// Margin & Padding
$rems: (1, 2, 3, 4, 5);
@each $rem in $rems {
  .m-#{$rem} {
    margin: #{$rem}rem;
  }
  .mx-#{$rem} {
    margin: 0 #{$rem}rem;
  }
  .my-#{$rem} {
    margin: #{$rem}rem 0;
  }
  .p-#{$rem} {
    padding: #{$rem}rem;
  }
  .px-#{$rem} {
    padding: 0 #{$rem}rem;
  }
  .py-#{$rem} {
    padding: #{$rem}rem 0;
  }
}
