.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-group {
    margin: 1.2rem 0;
  }
  input,
  select,
  textarea {
    font: inherit;
    font-size: 1.2rem;
    display: block;
    width: clamp(14rem, calc(23vw + 10rem), 40rem);
    padding: 0.4rem;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(set-text-color($control-color), 0.1) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  }

  input:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 1px 1px rgba(set-text-color($control-color), 0.1) inset,
      0 0 8px rgba(set-text-color($control-color), 0.6);
    outline: 0 none;
  }
  button {
    font: inherit;
  }
}
