@include mediaMd {
  .menu-nav {
    width: 100%;
    height: 0;
    flex-flow: row wrap;
    background: rgba(darken($control-color, 20), 0.98);
    border-top-left-radius: 0%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    &.show {
      width: 100%;
      height: 6rem;
    }
    .nav-item {
      transform: translate3d(0, -250%, 0);
      .nav-link {
        font-size: 1.2rem;
        padding: 0 1rem;
      }
    }
  }
}
@include mediaSm {
  .menu-nav {
    flex-flow: column;
    &.show {
      height: 10rem;
    }
    .nav-item {
      &.show {
        @for $x from 1 through 4 {
          &:nth-child(#{5-$x}) {
            transition-delay: $x * 75ms;
          }
        }
      }
    }
  }
  .showcase-content {
    width: 18rem;
    height: 16rem;
    margin-left: -9rem;
    margin-top: -8rem;
    & .logo {
      width: 10rem;
    }
  }
  .x-large {
    font-size: 2rem;
  }
  .large {
    font-size: 1.3rem;
  }
  #about {
    .passions {
      li {
        i {
          right: 30%;
        }
      }
    }
    .skills {
      li {
        i {
          right: 20%;
        }
      }
    }
  }
}

@include mediaHSm {
  .btn-lead {
    display: none;
  }
}
