// Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Text styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  user-select: none;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  user-select: none;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  user-select: none;
}
.text-primary {
  color: $primary-color;
  user-select: none;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  &:hover {
    background: lighten($control-color, 10%);
    transition: background-color 0.3s;
  }
}
.btn-primary {
  @extend .btn;
  @include set-background($primary-color);
  &:hover {
    background: lighten($primary-color, 10%);
  }
}
.btn-dark {
  @extend .btn;
  @include set-background(darken($control-color, 50));
  &:hover {
    background: lighten(darken($control-color, 50), 10%);
  }
}
.btn-light {
  @extend .btn;
  @include set-background(lighten($control-color, 50));
  &:hover {
    background: lighten(lighten($control-color, 50), 10%);
  }
}
.btn-danger {
  @extend .btn;
  @include set-background($danger-color);
  &:hover {
    background: lighten($danger-color, 10%);
  }
}
.btn-success {
  @extend .btn;
  @include set-background($success-color);
  &:hover {
    background: lighten($success-color, 10%);
  }
}

// Alerts
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.8;
  border-radius: 5px;
  background: $light-color;
  color: $dark-color;
  &.alert-primary {
    @include set-background($primary-color);
  }
  &.alert-dark {
    @include set-background($dark-color);
  }
  &.alert-success {
    @include set-background($success-color);
  }
  &.alert-danger {
    @include set-background($danger-color);
  }
}

// Social icons
i {
  &.fa-twitter {
    color: #38a1f3;
  }
  &.fa-facebook {
    color: #3b5998;
  }
  &.fa-instagram {
    color: #3f729b;
  }
  &.fa-youtube {
    color: #c4302b;
  }
  &.fa-linkedin {
    color: #0077b5;
  }
}

.round-img {
  border-radius: 50%;
  border: solid 3px $primary-color;
}

.table {
  td,
  th {
    padding: 1rem;
    text-align: left;
    background-color: $light-color;
  }
  th {
    background-color: $primary-color;
    color: $light-color;
  }
}
